
#container {
    overflow:         hidden;
    position:         relative;
    width:            1280px;
    height:           720px;
    margin:           20px auto;
}

#hud {
    
    position:         absolute;
    top:              0;

}

#my_canvas {
    position:         absolute;
    top:              0;
    left:             0;
    width:            100%;
    height:           100%;
}

ul {
    
    position:         absolute;
    top:              0;
    left:             280px;
    width:            750px;
    height:           500px;
    padding:          0;
    text-align:       center;
    font-size:        20px;
    font-family:      Verdana, Geneva, Tahoma, sans-serif;
    transition:       top 1s;

}

#caja1, #caja2, #caja3 {
    
    margin-left:      39%;
    width:            175px;
    height:           75px;
    box-shadow:       0px 3px 11px -2px #0000008f;
    background-color: aquamarine;
    transition:       transform 0.3s;
   
}

li {
    
    list-style-type:  none;
    display:          block;
    line-height:      72px;
    padding-top:      22px;
    padding-bottom:   22px;
    transition:       transform 0.3s;
   
}

#InvadersKilled {
    position:         absolute;
    top:              7px;
    right:            25px;
    font-size:        30px;
    font-family:      Verdana, Geneva, Tahoma, sans-serif;
    color:            rgba(182, 43, 43, 0.842); 
    /* Añade una sombra a las letras */
    text-shadow:      0  1px  0   rgba(97, 26, 26,  0.842),
                      0  2px  0   rgba(97,  7,  7,  0.842), 
                      0  3px  0   rgba(97, 43, 43,  0.842),
                      0  4px  0   rgba(97, 43, 43,  0.842), 
                      0  5px  0   rgba(97, 43, 43,  0.842), 
                      0  6px  1px rgba( 0,  0,  0,   .1  ), 
                      0  0    5px rgba( 0,  0,  0,   .1  ), 
                      0  1px  3px rgba( 0,  0,  0,   .3  ), 
                      0  3px  5px rgba( 0,  0,  0,   .2  ), 
                      0  5px 10px rgba( 0,  0,  0,   .25 ), 
                      0 10px 10px rgba( 0,  0,  0,   .2  ), 
                      0 20px 20px rgba( 0,  0,  0,   .15 );
    
}
#Bars {

    height: 0px;
    width: 100%;
    padding: 0%;
    position: relative;
}

#HealthBar{

    background-color:   rgb(255, 235, 235);
    position:           relative;
    top:                7px;
    left:               150px;
    width:              200px;
    height:             20px;
    padding:            3px;
    border:             solid 1px #aaa;

}

#bar {
    background-color: rgb(160, 51, 51);
    width:      100%;
    height:     20px;
    position:   relative;
    transition: width .5s linear;
}

/* Evento al que se suscribe para darle la animación */
.animationKill {
    animation-name:     killed;
    animation-duration: 0.3s;
}

/* Animación */
@keyframes killed {
    0%   { transform:  scale(  0,   0); }
    100% { transform:  scale(1.3, 1.3); }
}

#pause {
    width:            35px;
    height:           35px;
    transition:       transform 0.3s;

}

li:hover {  
    transform:        scale(1.3, 1.3);
    cursor:           pointer;

}

